// Fonts
$main-font: "Space Mono", monospace;

// Colors
$text-color: #6b717f;
$title-color: #BF4080;
$bg-color:  #fff;
$code-color: #8C8C8C;


// Border & Box-Shadow
$border: 1px solid #6b717f;
$box-shadow: 10px 10px 15px -4px #6b717f;

// padding
$padding: 16px;